@font-face {
    font-family: "Ferry";
    src: local('Ferry'),
     url('../fonts/ferry_black.otf') format("truetype");
    /* font-weight: normal; */
    }

@font-face {
    font-family: "Inter";
    src: local('Inter'),
     url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format("truetype");
    }