.summary-loader {
    display: flex;
    width: 1300px;
    height: 158px;
    border: #029491 2px solid;
    border-radius: 10px;
    margin-bottom: 25px;
}

.summary-loader-header {
    background-color: #029491;
    color: #ffffff;
    width: 133px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 480px) {
    .summary-loader {
        display: flex;
        max-width: 90%;
        margin: 15px auto;

    }
}