
.rates {
    width: 1320px;
    height: 664px;
    margin: 0 auto;
}

.rates > p {
    font-family: 'Ferry', 'Helvetica Neue', Helvetica, Arial, sans-;
    font-size: 45px;
}

.rates-wrapper {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.rate {
    width: 415px;
    height: 540px;
    border-radius: 10px;
    border: #ebe9e9 solid 2px;
}

.rate-header {
    display: flex;
    justify-content: space-around;
    width: 415px;
    height: 132px;
}

.beginner{
    background-color: #FFB64F;
}

.pro {
    background-color: #7CE3E1;
}

.business {
    background-color: #000000;
    color: #FFFFFF;
}

.rate-text p:first-child{
    margin-top: 30px;
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial;
    font-size: 30px;
    font-weight: 500;
}

.rate-text p:last-child{
    margin-top: 10px;
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial;
    font-size: 18px;
    font-weight: 400;
}

.business .rate-icon img {
    margin-top: 20px;
}


.beginner .rate-icon img {
    margin-top: 20px;
}
.about-rate > p {
    margin-left: 30px;
    margin-top: 60px;
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial;
    font-size: 20px;
    font-weight: 500;
}

.about-list {
    list-style: none;
    margin-left: 20px;
}

.about-list li {
    margin-left: 10px;
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial;
    font-size: 18px;
    font-weight: 400;
}

.rate-info span:last-of-type {
    text-decoration: line-through;
    opacity: .5;
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial;
    font-size: 25px;
    font-weight: 500;
    margin-left: 10px;
}

.rate-info span:first-of-type {
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial;
    font-size: 30px;
    font-weight: 500;
}

.info {
    margin: 50px 20px 20px 30px;
}

.info p {
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial;
    font-size: 18px;
    font-weight: 400;
}

.btn-detail {
    margin: 60px 40px;
}